<!-- site content -->
<div id="main" role="main">
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<font size="+3">About us</font>
				<hr class="btn-info">
			</div>
		</div>
	</div>
	<div class="mission-page" id="page-info">
		<!-- services section -->
		<section class="container services">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section animate">
							<h3 class="h3">From the Director</h3>
								<%= image_tag( "director.JPG", :class => "img-rounded", :size => "200x100") %>
							<p>
				 				
							</p>
						</div>

						<div class="col-xs-12 col-sm-5 anim-section animate">
							<h3>&nbsp;</h3>
							<p> Rev.Charles Okee</p>
							<p>
				 				Charles Okee is a faithful minister of the gospel of Christ with a medical background.He is passionate about reaching the young people for Jesus Christ,a service he's done for the past over ten years carrying the reality of God's word with tangible results.Mentoring,raising and training the next generation of christian leaders for both the church and public offices is a thing he's devoted his life to doing.
				 			</p>
				 			<br>
				 			<p> Allen Okee

				 			    Allen is married to Charles and together they are carefully providing a solid background for the children and young people.An accontant by profession,and excellent cook,Allen finds joy in mentoring the young women/wivies into destiny achievers as helpmates to their husbands.She passionate about being of help to that one extra soul.    

				 				
							</p>
						</div>

						<div class="col-xs-12 col-sm-4 anim-section animate">
							<h3>&nbsp;</h3>
							<h4>Our vission</h4>
							
							    Mathew 9:37-38 
							    "Harvesting souls for Jesus Christ!
							    
								<p></p>
							
							<h4>Our mission</h4>

					</div>      Reaching the lost souls in the market place with the reality of God's Word. 
				</div>
			</div>
		</section>
		<!-- services section -->
	</div>
</div>


