<!-- site content -->
<div id="main" role="main">
	
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>About us</h1>
			</div>
		</div>
	</div>
	<div class="mission-page" id="page-info">
		<!-- services section -->
		<section class="container services">
			<div class="row">
				<div class="col-xs-12">
					<div class="row">
						<div class="col-xs-12 col-sm-3 anim-section animate">
							<h3 class="h3">From the Director</h3>
							<%= image_tag( "director.JPG", :class => "img-rounded") %>
							<p>
				 				
							</p>
						</div>

						<div class="col-xs-12 col-sm-5 anim-section animate">
							<h3>&nbsp;</h3>
							<p> PR, DR. Charles Okee</p>
							<p>
				 				Pastor Doctor Charles Okee is a faithful minister in Redemption city church from which He has served over 10 years. He is a medical Doctor by profession. He his also passionate about the welfare of different communities. He started by Helping different children who could continue with school due to different challenges.
				 				He was inspired to start this organisation when He reached out to the people of Northern Uganda with Health services. He wanted to Help them as a person, but he could not because what he had could not cover them all. Through this organisation,  volunteers and other people who can give would support children in need. 	
							</p>
						</div>

						<div class="col-xs-12 col-sm-4 anim-section animate">
							<h3>&nbsp;</h3>
							<h4>Our vission</h4>
								<p></p>
							
							<h4>Our mission</h4>
					</div>
				</div>
			</div>
		</section>
		<!-- services section -->
	</div>
</div>


