<!-- site footer -->
</div></div>
<footer id="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4">
				<h4>Harvesthouse</h4>
				<p>
					With your help you are saving millions of children and you are raising giants for the next generation
				</p>
				<address>
					<span> <i class="glyphicon glyphicon-user"></i>Uganda, Kampala <span>
					capital shoppers building Nakawa</span> </span>
					<span> <i class="glyphicon glyphicon-lg glyphicon-envelope"></i><a href="mailto:okee@gmail.com">okee@gmail.com</a></span>
				</address>

			</div>
			<div class="col-xs-12 col-sm-4">
				<h4>Twitter/facebook Feed</h4>
				<p>
					<span class="charity">@harvest</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span>
				</p>
				<p>
					<span class="charity">@harvest</span> Various versions have evolved over the years, sometimes by accident, sometimes on purpos. <span class="comment-time">2 hours ago</span>
				</p>
			</div>
			<div class="col-xs-12 col-sm-4">
				<h4>Newsletter Signup</h4>
				<form role="form" class="sign-up">
					<div class="form-group">
						<div class="input-group">
							<input class="form-control" type="email" placeholder="Email">
							<div class="input-group-addon">
								<input type="submit" class="btn btn-theme" value="Submit">
							</div>
						</div>
					</div>
				</form>

				<h4>Follow us</h4>
				<ul class="social-icons">
					<li>
						<a href="http://facebook.com" target="_blank">Facebook</a>
					</li>
													<li>
						<a href="http://facebook.com" target="_blank">Twitter</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="copyright">
		<div class="container">
			<div class="row">
				<div class="col-xs-12">
					<p>
						&copy; Copyright 2014, All Rights Reserved by Harvesthouse.
					</p>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- site footer ends -->
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close"
				data-dismiss="modal" aria-hidden="true">
				&times;
				</button>
				<h4 class="modal-title" id="myModalLabel">Share with us</h4>
			</div>
			<div class="modal-body">
			Add some text here
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default"
			data-dismiss="modal">Close
			</button>
			<button type="button" class="btn btn-primary">
			Submit changes
			</button>
			</div>
		</div><!-- /.modal-content -->
	</div>
</div>







<div class="modal donate-form">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					×
				</button>
				<header class="page-header">
					<h2>You are donating to. <small class="border-none">Example Causes name</small></h2>
				</header>
			</div>
			<div class="modal-body">
				<form role="form">

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								<label>How much would you like to donate ?</label>

								<div class="choose-pricing">
									<div class="btn-group">
										<button type="button" class="btn btn-default active">
											$12
										</button>
										<button type="button" class="btn btn-default">
											$22
										</button>
										<button type="button" class="btn btn-default">
											$32
										</button>

										<input value="Custom" class="inpt-first form-control" type="text">

									</div>
								</div>
							</div>

						</div>
					</div>

					<div class="row display">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								<div class="dropdown">
									<button class="btn btn-width dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
										<small> Donation Type</small>
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="#">Every Monthly (Recurring)</a>
										</li>
										<li role="presentation">
											<a role="menuitem" tabindex="-1" href="#">One Time Donation</a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								<label for="name">Name<span>*</span></label>
								<input class="form-control" id="name" type="text">
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="last-name">Last Name<span>*</span></label>
								<input class="form-control" id="last-name" type="text">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								<label for="name">Email<span>*</span></label>
								<input class="form-control" id="email" type="text">
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="phone">Phone<span>*</span></label>
								<input class="form-control" id="phone" type="text">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12 col-sm-6">
								<label for="message">Address<span>*</span></label>
								<textarea class="form-control" id="message"></textarea>
							</div>
							<div class="form-group col-xs-12 col-sm-6">
								<label for="add-note">Additional Note</label>
								<textarea class="form-control" id="add-note"></textarea>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12">
								<input value="DONATE" class="btn btn-default pull-right" type="submit">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-xs-12">
							<div class="form-group col-xs-12">
								<p class="forms-notes">
									Note: Lorem ipsum dolor sit amet
								</p>
							</div>
						</div>
					</div>

				</form>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div>
<!-- donation form popup -->


